module fprintd-libfprint 1.0;

require {
    type fprintd_t;
    type sysctl_vm_t;
    class file { getattr open read };
}

allow fprintd_t sysctl_vm_t:file { getattr open read };

